includes:
  - ../vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    level: 8
    paths:
        - ../src
        - ../tests/Functional
        - ../tests/Unit
    excludePaths:
        - ../src/Compiler.php
        - ../src/EditorConfig/Utility/FinderUtility.php
