<phpunit
  backupGlobals="true"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  verbose="false">

  <testsuites>
    <testsuite name="Unit">
      <directory>../tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>../tests/Functional</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="junit" target="reports/phpunit-unit.xml"/>
  </logging>

</phpunit>
