name: Code Checks

on:
  push:
    branches: [ master, feature/** ]
  pull_request:
    branches: [ master, feature/** ]

jobs:
  build:
    name: Build and test application
    strategy:
      matrix:
        php:
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        dependencies:
          - "lowest"
          - "highest"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php }}"

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ matrix.php }}-${{ matrix.dependencies }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Composer install
      uses: ramsey/composer-install@v3
      with:
        dependency-versions: "${{ matrix.dependencies }}"
        composer-options: "${{ matrix.composer-options }}"

    - name: Run code quality checks
      run: composer run-script check

    - name: Run test suite
      run: composer run-script test-with-coverage

    - name: Upload test reports artifact
      uses: actions/upload-artifact@v4
      with:
        name: test-reports-${{ matrix.php }}-${{ matrix.dependencies }}
        path: |
            .build/reports/*
